# Dependencies
node_modules

# Environment variables
.env

# Testing and coverage
/coverage
coverage.json

# TypeChain
/typechain
/typechain-types

# Hardhat files
/cache
/artifacts

# Hardhat Ignition
ignition/deployments/chain-31337
